hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 0 auto 10px auto;
  width: 97%;
  position: relative;
  top: -10px;
}
.header-container {
  margin: 20px 10px;
  display: inline-flex;
  justify-content: center;
}
.header-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-home {
  font-size: 40px;
}
.header-menu-links,
.header-menu-about {
  font-size: 23px;
  margin-left: 25px;
}
.header-menu-inside {
  width: 100%;
  display: flex;
  align-items: baseline;
}
